body{
    background-image: url(background.jpg);
    background-size: cover;
}
.block{
    position: absolute;
	background-color: black;
	top: 5px;
	left:100px;
	width: 1810px;
	height: 90px;
	opacity: .6;
    border-radius: 20px 20px 20px 20px; 
    
}
.logo {
	position: absolute;
	left:-50px;
	top: -20px;
    
   }